@media screen and (min-width: 0.310em) and (max-width: 767px){

	body{
		font-family: 'Lato',Arial,tahoma,sans-serif;
	}
	div{
		display: block;
	}	
	.limit{
		margin-left: auto;
	    margin-right: auto;
	    width: 285px;
	    display: flex;
	    flex-direction: column;
	}
	a{
		text-decoration: none;

	}
	#img{
		margin-bottom: 2em;
		background-color: #e6e6e6;
		margin-left: auto;
		margin-right: auto;
	}
	h1{
		margin-left: auto;
		margin-right: auto;
		display: block;
		text-align: center;
		white-space: nowrap;
		font-size: 40px;
		line-height: 24px;
		margin: 40px 0;
		font-weight: 900;
		position: relative;
		color: black;
		text-decoration: none;
	}
	h2{
		max-width: 285px;
		text-align: left;
		overflow: hidden;
		white-space: nowrap;
		font-size: 20px;
		line-height: 24px;
		margin: 0;
		font-weight: 900;
		position: relative;
		color: black;
	}

} /*---------END @media min-width: 0.310em----------*/
@media screen and (min-width: 768px) and (max-width: 1023px){
	.limit{
		width: 650px;
	}
}
@media screen and (min-width: 1024px){
	.limit{
		width: 1015px;
	}
}